@model IndexViewModel

<!DOCTYPE html>
	<html lang="zh">
	<head>
        <partial name="../Shared/_HeadMeta.cshtml" />
    <link rel='stylesheet' type='text/css' href='/assets/index.css' />
		<title>启明星</title>
	</head>
	<body class="home-page">
	<div>  
        <partial name="../Shared/_Header.cshtml" />
		<main>
			<div class="fx-grid">
				<div class="ms-Grid-col ms-sm12 ms-xl8">
					<div class="article-list">
                        @foreach (var m in Model.Range ){
							<div class="article-item">
								<div>
									<div class="article-link">
										<a href="/article/read/@m.Pk">@m.Title</a>
									</div>
									<div class="article-info">
										<span class="update-time"><i class="ri-time-line"></i></span>
										<span class="views"><i class="ri-eye-line"></i></span>
									</div>
								</div>
							</div>
                        } 
					</div>
					<div class="page-list">  
						@if(Model.PrevPage >= 1) {
							<a class="page" href="/?page=@Model.PrevPage">上一页</a>
						}
						@for(var n = Model.StartPage; n <= Model.EndPage; ++n) {
							var active = n == Model.CurrentPage ? "active" : "";
							<a class="page @active" href="/?page=@n">@n</a>
						}
						@if (Model.NextPage <= Model.MaxPage) {
							<a class="page" href="/?page=@Model.NextPage">下一页</a>
						} 
					</div>
				</div>
			</div>
		</main> 
	</div>
	<div id="root"></div>
	<script id="data" type="application/json">{{.data}}</script>
    <script type='module' crossorigin src='/assets/index.js'></script>
	</body>
	</html>