@import "src/styles/media";
// 文章编辑页面
.article-edit-page {
  .article-edit {
    .title-area, .body-area, .submit-area {
      background: #FFFFFF;
      border-radius: 4px;
    }

    .title-area, .body-area {
      margin-bottom: 16px;
    }

    .title-area, .submit-area {
      padding: 16px;
    }

    .description {
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }

  @media (min-width: $screen-desktop) {
    .article-edit {
      width: 960px;
      margin: 0 auto;
    }
  }
}

// 文章查看页面
.article-read-page {
  main {
    display: flex;
    flex-direction: row;

    .page-left {
      flex-grow: 1;
      overflow: auto;
      .article-body pre {
        white-space: break-spaces;
      }
    }

    .page-right {
      display: none;
      margin-left: 16px;

      .creator-info {
        .profile {
          display: flex;
          flex-direction: row;

          .creator-photo {
            height: 48px;
            width: 48px;
            border-radius: 8px;
            border: 2px solid #a8a8a8;
            cursor: pointer;

            &:hover {
              border-color: #333333CC;
            }
          }

          .profile-right {
            margin-left: 16px;
            display: flex;
            flex-direction: column;

            .nickname {
              color: #333333;
            }

            .email {
              margin-top: 8px;
              color: #515767;
            }
          }

        }

        .desc {
          margin-top: 16px;
          font-size: 14px;
          color: #7e7e7e;
        }
      }

      .creator-info, .article-toc {
        width: 288px;
      }

      .article-toc {
        .toc-item {
          padding: 8px 0;
          border-radius: 2px;

          &:hover {
            background-color: #ececec;
          }

          a {
            color: #333;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }

  .keywords-list {
    margin-top: 8px;

    .keyword {
      background: #efefef;
      display: inline-block;
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 8px;
    }
  }

  .fx-paragraph {
    .fx-code {
      background-color: #edebe9;
      padding: 0 4px;
      border-radius: 2px;
      display: inline-block;
    }

    .fx-bold {
      font-weight: bold;
    }

    .fx-italic {
      font-style: italic;
    }
  }

  .fx-code-block {
    background: #f6f6f6;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
    line-height: 20px;
    overflow: auto;
  }

  .article-page-menu {
    display: flex;
    flex-direction: row;

    > div {
      margin-right: 8px;
    }
  }

  .new-button, .edit-button {
    display: none;
  }

  article {
    .article-title, .article-body {
      padding: 16px;
      background: #FFFFFF;
      border-radius: 4px;
    }

    .article-title {
      h1 {
        margin-bottom: 16px;
      }

      .description {
        font-size: 14px;
      }
    }

    .article-body {
      margin-top: 16px;

      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.6;
        word-break: break-word;
      }
    }
  }

  #user-menu {
    display: none;
  }

  @media (min-width: $screen-tablet) {
    #user-menu {
      display: flex;
      flex-direction: row;

      > button {
        margin-left: 8px;
      }
    }
    .new-button, .edit-button {
      display: block;
    }
  }
  @media (min-width: $screen-desktop) {
    main {
      width: 1024px;
      margin: 0 auto;

      .page-right {
        display: block;
      }
    }
  }
}
