@import "src/styles/media";

.not-found-page {
  .page-content {
    padding: 0 16px;
  }

  @media (min-width: $screen-desktop) {
    .content {
      width: 960px;
      margin: 0 auto;
    }
  }
}
