@model IndexViewModel

<!DOCTYPE html>
	<html lang="zh">
	<head>
        <partial name="../Shared/_HeadMeta.cshtml" />
    <link rel='stylesheet' type='text/css' href='/assets/index.css' />
		<title>启明星</title>
	</head>
	<body class="home">
	<div>  
        <partial name="../Shared/_Header.cshtml" />
		<main>
			<div class="picture-list"> 
 
				@for (var col = 0; col < Model.Grid.Count; col++) {
					var range = Model.Grid[col]; 

					<div class="cols">
						@foreach (var m in range) {
							<div class="picture-item"> 
								<div class="picture-preview">
									<a href="/picture/read/@m.Pk">
										<vns-img>
											<img src="@m.FilePath" alt="@m.Title" />
										</vns-img>
									</a>
								</div>
								<div class="picture-info">
									<span class="update-time"><i class="ri-time-line"></i></span>
									<span class="views"><i class="ri-eye-line"></i></span>
								</div> 
							</div>
						}
					</div>
				}   
					
				

			</div>
					@await Html.PartialAsync("../Shared/_Pagination.cshtml", Model.Pagination)
		</main> 
	</div> 
    <script type='module' crossorigin src='/assets/index.js'></script>
	</body>
	</html>